<% if party.has_pending_songs? && !party.started? %>
    <%= render partial: "party_songs/start_button", locals: { party: party} %>
<% elsif (party.currently_playing_song || party.has_pending_songs?) && party.stopped? %>
    <% if user_is_owner %>
    <div id="currently_playing" class="flex h-full w-full items-center justify-center">
        <%= button_to resume_party_path(code: party.code), method: :post, class: "border-2 border-slate-400 flex items-center gap-1" do %>
            <%= image_tag 'play-button-icon.svg', class: 'w-8 h-8' %><span class"text-xl">Start</span>
        <% end %>
    </div>
    <% else %>
    <div id="currently_playing" class="flex h-full w-full items-center justify-center">
        <p class="animate-pulse text-spotify-green font-bold text-xl">Wait for the creator to start the party</p>
    </div>
    <% end %>
<% elsif party.started? && !party.stopped?%>
    <%= render partial: "party_songs/currently_playing", locals: { song: party.currently_playing_song } %>
<% else %>
    <div id="currently_playing" class="flex h-full w-full items-center justify-center">
        <p class="animate-pulse text-spotify-green font-bold text-2xl">Add a song to start</p>
    </div>
<% end %>
