<div class="flex flex-col justify-center h-full rounded-xl bg-black items-center gap-4">
    <div class="flex flex-col justify-center gap-4 items-center">
        <%= render 'shared/join_without_account' %>
        <div class="relative flex py-5 items-center w-full">
            <div class="flex-grow border-t border-gray-400"></div>
            <span class="flex-shrink mx-2 text-gray-400 px-4 font-bold text-xl">or</span>
            <div class="flex-grow border-t border-gray-400"></div>
        </div>
        <%= render partial: 'shared/login_with_spotify', locals: { text: "Join with Spotify"} %>
    </div>
</div>

    