<div class="flex flex-col h-full gap-2">
    <div class="flex flex-wrap-reverse gap-2 h-[calc(100%-96px)] lg:flex-nowrap">
        <div class="flex flex-col w-full gap-2 h-3/4 lg:w-3/4 lg:h-full">
            <div class="flex items-center rounded-2xl p-2 bg-spotify-gray-clear w-full h-24">
                Party name and settings
            </div>
            <div class="flex flex-col p-2 rounded-2xl overflow-y-auto bg-spotify-gray-clear w-full h-full custom-scrollbar">
                <% (1..100).each do |i| %>
                <p> <%= i %> </p>
                <% end %>
            </div>
        </div>
        <div class="relative flex flex-col p-2 rounded-2xl bg-spotify-gray-clear w-full h-1/4 lg:w-1/4 lg:h-full z-10 ">
            <div class="h-14 bg-spotify-gray-clear">
                search bar
            </div>
            <div class="flex flex-col absolute top-12 lg:top-14 rounded-xl p-2 overflow-y-auto left-4 right-4 h-72 bg-black custom-scrollbar">
                <% (1..100).each do |i| %>
                <p> <%= i %> </p>
                <% end %>
            </div>
            <div class="h-full bg-spotify-gray-dark">
                a aaaaaaa
            </div>
        </div>
    </div>
    <%= turbo_stream_from "#{@party.code}_currently_playing" %>
    <turbo-frame id="currently_playing">
        <div class="flex items-center p-2 bg-black rounded-2xl w-full h-24">
        Currently playing
        </div>
    </turbo-frame>
</div>
