<div class="relative w-fit">
    <div class="absolute -inset-1 opacity-85 bg-gradient-to-br from-spotify-green blur to-purple-600 rounded animate-tilt"></div>
    <div class="relative flex flex-col justify-center items-center w-80 gap-3">
        <%= link_to oauth_login_path, class: 'flex bg-black items-center justify-center text-lg w-full border-gray-400 hover:bg-spotify-gray-clear font-semibold py-3 px-5 rounded' do %>
        <%= image_tag 'spotify-icon.svg', class: 'w-6 h-6 mr-2' %>
        <%= defined?(text) ? text : "Create a party with Spotify" %>
        <% end %>
    </div>
</div>