<div class="flex flex-col w-full h-full justify-center items-center gap-6 bg-black rounded-xl">
    <h1 class="text-xl font-semibold">To access this functionality</h1>
    <%= render partial: 'shared/login_with_spotify', locals: { text: "Join with Spotify"} %>
</div>