<div class="flex flex-col justify-center h-full rounded-xl bg-black items-center gap-4">
    <div class="flex flex-col justify-center gap-4 items-center">
        <%= render 'shared/user_actions' %>
    </div>
</div>
