<div class="text-gray-200 flex flex-col items-center justify-center gap-20">
    <div class="flex flex-col gap-5 justify-center items-center">
        <span class="text-6xl font-extrabold text-gray-300">SPOTYFEST</span>
    </div>
    <div class="flex flex-col justify-center gap-4 items-center">
        <%= render 'shared/user_actions' %>
    </div>
    <h2 class="text-base font-semibold underline text-gray-200"> How it works? </h2>
</div>
