<div id="currently_playing" class="flex h-full w-full items-center justify-center">
    <button data-action="click->party#start" data-start-url="<%= start_party_path(code: party.code)%>"class="flex items-center bg-gray-200 text-black font-extrabold p-2 h-3/5 rounded-xl hover:bg-spotify-gray-clear hover:border-spotify-green hover:text-spotify-green">
        Start the party!
    </button>
</div>