<div data-controller="flash" class="flex flex-col justify-center items-center gap-2 fixed top-10 left-1/2 z-50">
  <% flash.each do |type, msg| %>
    <% color = type == :error ?  "bg-red-700" : "bg-spotify-green"%>
    <% sign = type == :error ?  "⚠" : "✓"%>
    <div data-flash-target="flash" class="opacity-0 <%= color %> w-auto max-w-72 md:max-w-xl transform -translate-x-1/2 text-gray-200 rounded-lg px-4 py-2 transition-opacity duration-300 ease-in-out">
      <p class="font-normal text-sm md:text-lg"><%= sign + " " + msg %></p>
    </div>
  <% end %>
</div>