<nav class="hidden md:flex flex-col justify-top gap-2 text-center p-4 sticky bottom-3 h-[calc(100vh-92px)] w-1/6 rounded-2xl bg-spotify-gray-secondary">
    <%= link_to "Parties", party_list_path, class: "btn" %>
    <%= link_to "Party show", show_party_path(code: 'bad4c9') , class: "btn" %>
</nav>
