<% songs.each do |song| %>
    <div class="flex items-center justify-between p-1 gap-3 h-14">
        <div data-spotify-song-id="<%= song[:spotify_song_id]%>" class="flex items-center gap-2 flex-grow min-w-0">
            <img src="<%= song[:image] %>" class="w-12 h-12">
            <div class="overflow-hidden text-ellipsis whitespace-nowrap">
            <p class="font-semibold text-sm truncate"><%= song[:name] %></p>
                <p class="font-semibold text-gray-500 text-xs truncate"><%= song[:artists].join(',')%></p>
            </div>
        </div>
        <p class="font-bold text-3xl flex-shrink-0">+</p>
    </div>
    <hr class="border-t border-spotify-gray-highlight opacity-30 my-1">
<% end %>
