<turbo-stream target="currently_playing" action="replace">
  <template>
    <div class="flex items-center p-2 bg-black rounded-2xl w-full h-24">
    <p id="current-song-title" class="text-white text-lg font-bold">
        <%=@song%>
    </p>
    </div>
  </template>
</turbo-stream>
